* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(158, 158, 158);
  display: grid;
  place-items: center;
  height: 100vh;
}
.container {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  grid-template-rows: 1fr 4fr 1.2fr 1.2fr;
  grid-template-areas:
    "logo     logo    header"
    "main    main    image"
    "quotes  quotes  image"
    "btn1    btn2    image"
    "footer  footer  footer";
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.logo {
  width: 100%;
  height: 100%;
  background-color: rgb(224 239 243);
  display: flex;
  align-items: center;
  grid-area: logo;
}
.logo h3 {
  color: rgb(0, 107, 5);
  margin-left: 6rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.nav-items {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: header;
}
.nav-items ul {
  display: flex;
  justify-content: space-evenly;
  margin-right: 0.5rem;
}
.nav-items ul li {
  font-weight: 700;
  list-style: none;
  margin: 0px 1rem;
}
.heading-text {
  width: 100%;
  height: 100%;
  background-color: white;
  grid-area: main;
  margin-bottom: 1rem;
}
.heading {
  width: 70%;
  height: 100%;
  margin: 2rem auto auto;
}
.heading h2 {
  width: 45%;
  margin-bottom: 1rem;
}
.heading p {
  color: rgba(0, 0, 0, 0.753);
}
.img {
  width: 100%;
  height: 100%;
  background-color: black;
  grid-area: image;
}
img {
  width: 100%;
  object-position: center;
  height:100%;
}
.sub-text {
  width: 100%;
  height: 100%;
  background-color: rgb(188 219 226);
  display: flex;
  align-items: center;
  padding-left: 6rem;
  grid-area: quotes;
}
.read-more {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  grid-area: btn1;
  justify-content: center;
  background-color: rgb(0, 107, 5);
}
.view-all {
  width: 100%;
  height: 100%;
  background-color: rgb(31, 226, 41);
  color: white;
  display: flex;
  align-items: center;
  grid-area: btn2;
  justify-content: center;
}
.footer {
  width: 100%;
  height: 100%;
  background-color: white;
  grid-area: footer;
}
@media (max-width: 900px) {
  body {
    padding: 0;
    height: auto;
    background-color: rgb(255, 255, 255);
    place-items: center;
  }
  .container {
    width: 100%;
    border-radius: 0;
    height: auto;
  }
  .sub-text {
    padding: 1rem 1rem;
    text-align: center;
  }
  img{
    object-fit: revert;
  }
}

@media (max-width: 767px) {
  
  body {
    height: auto;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    height: auto;
    grid-template-rows: 5rem 3rem auto auto 1.5fr 1fr 1fr;
    grid-template-areas:
      "logo     logo  "
      "header   header"
      "image    image"
      "main     main  "
      "quotes   quotes "
      "btn1     btn2  "
      "footer   footer ";
  }
  img{
    object-fit: contain;
  }
  .heading h2 {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
  }
  .heading p {
    margin-bottom: 1rem;
    text-align: center;
  }
  .sub-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo h3 {
    margin-left: 0;
  }
  .logo {
    justify-content: center;
  }
  .nav-items {
    justify-content: center;
    background-color: #bccdd2;
  }
}
